services:
  ha:
    image: homeassistant/home-assistant:2025.9.3
    restart: unless-stopped
    privileged: true
    ports:
      - "8123:8123"
    environment:
      - TZ=Europe/Moscow
    volumes:
      - ./data/ha/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    depends_on:
      - mqtt
      - pg

  pg:
    image: postgres:17.5
    restart: unless-stopped
    environment:
      - TZ=Europe/Moscow
      - POSTGRES_PASSWORD=${PG_PASSWORD}
    volumes:
      - ./data/pg/data:/var/lib/postgresql/data

  adminer:
    image: adminer:5.3.0
    restart: unless-stopped
    ports:
      - "8081:8080"
    depends_on:
      - pg

  ha-conf:
    image: causticlab/hass-configurator-docker:0.5.2
    restart: unless-stopped
    ports:
      - "3218:3218/tcp"
    environment:
      - HC_BASEPATH=/hass-config
      - HC_USERNAME=${HASS_CONFIGURATOR_USERNAME}
      - HC_PASSWORD=${HASS_CONFIGURATOR_PASSWORD}
      - HC_DIRSFIRST=true
    volumes:
      - ./data/ha-conf/config:/config
      - ./data/ha/config:/hass-config

  mqtt:
    image: eclipse-mosquitto:2.0.20
    restart: unless-stopped
    environment:
      - TZ=Europe/Moscow
    volumes:
      - ./data/mqtt/config:/mosquitto/config
      - ./data/mqtt/data:/mosquitto/data
      - ./data/mqtt/log:/mosquitto/log

  z2m:
    image: koenkk/zigbee2mqtt:2.6.3
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - TZ=Europe/Moscow
    devices:
      - ${ZIGBEE_ADAPTER_TTY}:/dev/ttyACM0
    volumes:
      - ./data/z2m/app/data:/app/data
      - /run/udev:/run/udev:ro
    depends_on:
      - mqtt

  node-red:
    image: nodered/node-red
    restart: unless-stopped
    ports:
      - "1880:1880"
    environment:
      - TZ=Europe/Moscow
    volumes:
      - ./data/node-red/data:/data
    depends_on:
      - ha
      - mqtt
